@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter/static/Inter_18pt-Regular.ttf') format('ttf');
}

#root {
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #000;
}
