@font-face {
    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter/static/Inter_18pt-Regular.ttf') format('ttf');
}

:root {
    --primary-color1: #c4ff61;
    --primary-color2: #eaffc7;
    --primary-color3: #2db100;
    --black-color: #000;
    --background-header: #ffffd3;
    --text-color: #333;
}

#root {
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #000;
}
section {
    padding: 0 24px;
}
